* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #920ef7;
    --bg-color: #201b2c;
    --color-login: #9487b3;
}

body {
    background-color: var(--bg-color);
}

h1, h2, p {
    color: var(--primary-color);
    font-family: "Noto Sans", sans-serif;
}